@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

/* styles/globals.css */
body {
  font-family: 'Inter', sans-serif; /* Defina Inter como a fonte padrão */
}

.carousel {
  overflow: hidden; /* Remove a barra de rolagem */
 
}

.flowbite-carousel {
  overflow: hidden;
}

footer,
.flowbite-footer,
.flowbite-footer > * {
  border-radius: 0 !important;
  
}

/* Aplica mais alta especificidade */
body .flowbite-carousel, body .flowbite-carousel * {
  border-radius: 0 !important;
}

